.card{
   width: 1400px;
   height: 1650px;
   background-color: LightCyan;
   border-radius: 60px;
}

.photo {
   height: 50%;
   padding: 10px;
   width: 1500px;
   # padding - это внутренний отступ
   # Для внешних отступов используется margin
}

.info {
   padding: 40px;
   height: 50%;
   font-family: 'Andale Mono', monospace;
   font-size: 50px;
   background-color: CadetBlue;
   border-radius: 20px;
}

img {
    position: relative;
    padding: 20px;
    width: 400px;
    left:0%;
    border-radius: 20px;
    transition: 1s;
}
img:hover {
    position: relative;
    padding: 20px;
    width: 700px;
    left:10%;
    border-radius: 20px;
    transition: 1s;
}

table {
    border: 10px solid white; /* граница таблицы */
    width: 5400px;             /* ширина таблицы */
    height: 2200px;            /* высота таблицы */
    margin-left: auto;         /* выравнивание по центру по горизонтали */
    margin-right: auto;        /* чтобы таблица была по центру */
}

h1 {

    color: Teal;          /* цвет текста */
    font-size: 100px;     /* размер шрифта */
    text-align: center;  /* выравнивание по центру */
    margin-top: 300px;    /* отступ сверху   padding: 200px; */
}