<!--
 Создай таблицу с рейтингом ваших любимых/нелюбимых блюд. В таблице должно быть минимум 5 рядов и 4 столбца:
Первый столбец - название блюда;
Второй столбец - ваша оценка от 1 до 10;
Третий столбец - ссылка на рецепт;
Четвертый столбец - фото блюда.

В поле для ответа загрузи скриншоты сделанных заданий или ссылку на Git.
 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои рецепты.</title>
</head>
<body>

<div>
    <table  aligh="centre" border="2px" height="1200px" width="2400px" style="font-size: 50px;">
        <tr>
            <th>Название блюда</th>
            <th>Оценка от 1 до 10</th>
            <th>Ссылка на рецепт</th>
            <th>Фото блюда</th>
        </tr>
        <tr>
            <td>Борщ</td>
            <td> 9 </td>
            <td> <a href="https://lifehacker.ru/classic-borshcht/"target="_blank">Рецепт борща</a>  </td>
            <td> <img src="Pics/borsch.jpg"> </td>
        </tr>

        <tr>
            <td>Плов</td>
            <td> 8 </td>
            <td> <a href="https://eda.ru/recepty/osnovnye-blyuda/plov-so-svininoj-43366"target="_blank">Рецепт плова</a>  </td>
            <td> <img src="Pics/plov.png"> </td>
        </tr>

        <tr>
            <td>Салат</td>
            <td> 8 </td>
            <td> <a href="https://www.edimdoma.ru/retsepty/34316-salat-iz-pomidor-i-ogurtsov-chto-mozhet-byt-novogo"target="_blank">Рецепт салата</a>  </td>
            <td> <img src="Pics/salat.jpg"> </td>
        </tr>

        <tr>
            <td>Геркулесная каша</td>
            <td> 5 </td>
            <td> <a href="https://food.ru/recipes/35980-gerkulesovaja-kasha-na-moloke"target="_blank">Рецепт геркулесной каши</a>  </td>
            <td> <img src="Pics/gerkuless.png"> </td>
        </tr>

        <tr>
            <td>Морс</td>
            <td> 9 </td>
            <td> <a href="https://eda.ru/recepty/napitki/brusnichny-mors-151617"target="_blank">Рецепт морса</a>  </td>
            <td> <img src="Pics/mors.png"> </td>
        </tr>
    </table>
</div>
</body>
</html>

