{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

<!--здесь оригинальный контент, который не повторяется-->
{% block content %}
<!-- Основной контент -->
<h5>Текущее время: {{ time }}</h5>
<h1>Главная страница</h1>

<!-- Общая секция -->
<section class="mb-7 mt-5">
  <!-- Единый контейнер row -->
  <div class="row g-4  justify-content-center" >

    <!-- data 1 -->
    <div class="col-12 col-lg-2">
      <div class="card">
        <img src="static/image/Pics/data.png" class="card-img-top" alt="Ниф-Ниф">
        <div class="card-body">
          <h5 class="card-title">Data Processing</h5>
          <p class="card-text">
            Обработка данных
          </p>
          <a href="#" class="btn btn-primary">Подробнее...</a>
        </div>
      </div>
    </div>

    <!-- math 2 -->
    <div class="col-12 col-lg-2">
      <div class="card">
        <img src="static/image/Pics/math.png" class="card-img-top" alt="Наф-Наф">
        <div class="card-body">
          <h5 class="card-title">Math & Stats</h5>
          <p class="card-text">
            Математика и статистика
          </p>
          <a href="#" class="btn btn-primary">Подробнее...</a>
        </div>
      </div>
    </div>

    <!-- parsing 3 -->
    <div class="col-12 col-lg-2">
      <div class="card">
        <img src="static/image/Pics/parsing.png" class="card-img-top" alt="Нуф-Нуф">
        <div class="card-body">
          <h5 class="card-title">Parsing</h5>
          <p class="card-text">
            Парсинг и Скрапинг
          </p>
          <a href="#" class="btn btn-primary">Подробнее...</a>
        </div>
      </div>
    </div>

    <!-- security 4 -->
    <div class="col-12 col-lg-2">
      <div class="card">
        <img src="static/image/Pics/security.png" class="card-img-top" alt="Нуф-Нуф">
        <div class="card-body">
          <h5 class="card-title">Security</h5>
          <p class="card-text">
            Security
          </p>
          <a href="#" class="btn btn-primary">Подробнее...</a>
        </div>
      </div>
    </div>

    <!-- web 5 -->
    <div class="col-12 col-lg-2">
      <div class="card">
        <img src="static/image/Pics/web.png" class="card-img-top" alt="Нуф-Нуф">
        <div class="card-body">
          <h5 class="card-title">Web</h5>
          <p class="card-text">
            Web разработка
          </p>
          <a href="#" class="btn btn-primary">Подробнее...</a>
        </div>
      </div>
    </div>
  </div> <!-- Закрытие row -->
</section> <!-- Закрытие section -->

{% endblock %}

